<launch>
  <include
    file="$(find gazebo_ros)/launch/empty_world.launch" >
    <arg name="world_name" value="$(find abot_model)/worlds/abot_square.world"/>
 </include>
  <node
    name="tf_footprint_base"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0 0 0 0 base_link base_footprint 40" />
  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-file $(find abot_model)/urdf/abot_model.urdf -urdf -model abot_model"
    output="screen" />
  <node
    name="fake_joint_calibration"
    pkg="rostopic"
    type="rostopic"
    args="pub /calibrated std_msgs/Bool true" />
</launch>
